<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.jsontool.dev" />
<meta property="og:title" content="JsonTool | by Matthew Watkins" />
<meta property="og:description"
  content="JsonTool allows you to transform JSON using JavaScript-- right in your browser. Use it to normalize your objects, query a data set, sort records, or whatever you want!" />
<meta property="og:site_name" content="JsonTool" />
<meta property="og:image" content="https://www.jsontool.dev/img/billboard.jpg" />